doctype html
html
  head
    title= title
    link(rel='stylesheet',href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
    script(type='text/javascript',src='javascripts/jquery-1.12.1.min.js')
    script(type='text/javascript',src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    script(type='text/javascript',src='javascripts/client.js')
    script(type="text/javascript",src='/socket.io/socket.io.js')
  body
    block content
